In [47]:
import numpy as np 
import pandas as pd

In [48]:
goodread_df = pd.read_csv('books.csv', error_bad_lines = False)
goodread_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/06,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,9/1/04,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11/1/03,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,5/1/04,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/04,Scholastic,NaN

In [49]:
#check language codes
language_sum = goodread_df.language_code.value_counts()
print(language_sum)

eng         8908
en-US       1408
spa          218
en-GB        214
fre          144
ger           99
jpn           46
mul           19
zho           14
grc           11
por           10
en-CA          7
ita            5
9.78E+12       4
lat            3
enm            3
swe            2
rus            2
nor            1
ara            1
wel            1
msa            1
ale            1
nl             1
srp            1
glg            1
gla            1
tur            1
Name: language_code, dtype: int64

In [50]:
col_names = list(goodread_df.columns)
print(col_names)

['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13', 'language_code', '  num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher', 'Unnamed: 12']

In [51]:
goodread_df = goodread_df.rename(columns={"  num_pages": "num_pages"})

In [52]:
col_names = list(goodread_df.columns)
print(col_names)

['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13', 'language_code', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher', 'Unnamed: 12']

In [53]:
#check authors
authors_sum = goodread_df.authors.value_counts()
print(authors_sum)

Stephen King                             40
P.G. Wodehouse                           40
Rumiko Takahashi                         39
Orson Scott Card                         35
Agatha Christie                          33
                                         ..
Dave Shea/Molly E. Holzschlag             1
Louann Brizendine                         1
Anita Thompson                            1
Sean O'Brien                              1
Johann Wolfgang von Goethe/Peter Salm     1
Name: authors, Length: 6643, dtype: int64

In [54]:
#check publishers
publishers_sum = goodread_df.publisher.value_counts()
print(publishers_sum)

Vintage                                                    318
Penguin Books                                              261
Penguin Classics                                           184
Mariner Books                                              150
Ballantine Books                                           144
                                                          ...
City Lights                                                  1
Limelight Editions                                           1
Piper Taschenbuch                                            1
Atheneum Books for Young Readers: Richard Jackson Books      1
Orion (an Imprint of The Orion Publishing Group Ltd )        1
Name: publisher, Length: 2294, dtype: int64

In [55]:
#check titles
titles_sum = goodread_df.title.value_counts()
print(titles_sum)

The Brothers Karamazov                                9
The Iliad                                             9
The Odyssey                                           8
'Salem's Lot                                          8
Anna Karenina                                         8
                                                     ..
Hype and Glory                                        1
Les Saveurs de la vie                                 1
Mandala Sand Art Kit                                  1
Aeneid: Selections from Books 1  2  4  6  10  12      1
The Sheik & the Princess Bride (Desert Rogues  #8)    1
Name: title, Length: 10352, dtype: int64

In [56]:
#check ISBNs
isbn_sum = goodread_df.isbn.value_counts()
print(isbn_sum)

3.58          2
1593358725    1
380784912     1
940450534     1
553105574     1
             ..
806512261     1
553574639     1
446612626     1
312423373     1
764127314     1
Name: isbn, Length: 11126, dtype: int64

In [57]:
#check unnamed column
extra_col_sum = goodread_df['Unnamed: 12'].value_counts()
print(extra_col_sum)

Cold Spring Press              1
Harvard University Press       1
Brown Son & Ferguson Ltd.      1
Huntington House Publishers    1
Name: Unnamed: 12, dtype: int64

In [ ]:
#update goodread_df rows that are out of alignment

In [58]:
#create slice of DF to check out the alignment of certain rows
outofalignment_df = goodread_df[(goodread_df.num_pages == 'eng') | (goodread_df.num_pages == 'en-US')]

outofalignment_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner,Jr./Sam B. Warner,3.58,674842111,9.78E+12,en-US,236,61,6,4/20/04,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net,one of the founding members of this Tolkien w...,3.58,1593600119,9.78E+12,eng,400,26,4,4/6/04,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley,Rawles,3.63,156384155X,9.78E+12,eng,342,38,4,1/15/99,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown,Son & Ferguson,0,851742718,9.78E+12,eng,49,0,0,5/1/77,Brown Son & Ferguson Ltd.

In [59]:
#create a new df with rows out of alignment
df_misshapen = goodread_df.loc[[3348, 4702, 5877, 8979]]
df_misshapen.head()

#add the separated author columns together 
df_misshapen['authors_full'] = df_misshapen['authors'] + df_misshapen['average_rating']

#overwrite poorly formatted author column with correct author column 
df_misshapen['authors'] = df_misshapen['authors_full']

#drop unneeded columns
df_misshapen = df_misshapen.drop(['average_rating','authors_full'], axis=1)

df_misshapen.head()

,bookID,title,authors,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner Jr./Sam B. Warner,3.58,674842111,9.78E+12,en-US,236,61,6,4/20/04,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net one o...,3.58,1593600119,9.78E+12,eng,400,26,4,4/6/04,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley Rawles,3.63,156384155X,9.78E+12,eng,342,38,4,1/15/99,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown Son & Ferguson,0,851742718,9.78E+12,eng,49,0,0,5/1/77,Brown Son & Ferguson Ltd.

In [60]:
loop_count = 0

def update_col_names(df, col_list, loop_count):
    for col in df.columns:
        df = df.rename(columns={col: col_list[loop_count]})
        loop_count += 1
    return df

df_reshaped = update_col_names(df_misshapen, col_names, loop_count)

df_reshaped.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner Jr./Sam B. Warner,3.58,674842111,9.78E+12,en-US,236,61,6,4/20/04,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net one o...,3.58,1593600119,9.78E+12,eng,400,26,4,4/6/04,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley Rawles,3.63,156384155X,9.78E+12,eng,342,38,4,1/15/99,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown Son & Ferguson,0,851742718,9.78E+12,eng,49,0,0,5/1/77,Brown Son & Ferguson Ltd.

In [61]:
#overwrite poorly formatted rows with correct formatted rows 
goodread_df.iloc[3348] = df_reshaped.iloc[0]
goodread_df.iloc[4702] = df_reshaped.iloc[1]
goodread_df.iloc[5877] = df_reshaped.iloc[2]
goodread_df.iloc[8979] = df_reshaped.iloc[3]

In [62]:
#check unnamed column
extra_col_sum = goodread_df["Unnamed: 12"].value_counts()
print(extra_col_sum)

Series([], Name: Unnamed: 12, dtype: int64)

In [63]:
#drop empty column
goodread_df = goodread_df.drop(['Unnamed: 12'], axis=1)
col_names[2] = 'author'
col_names = col_names[:-1]
col_names

['bookID',
 'title',
 'author',
 'average_rating',
 'isbn',
 'isbn13',
 'language_code',
 'num_pages',
 'ratings_count',
 'text_reviews_count',
 'publication_date',
 'publisher']

In [64]:
goodread_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/06,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,9/1/04,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11/1/03,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,5/1/04,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/04,Scholastic

In [65]:
#split out authors into primary author column and other authors column
author_split = goodread_df.authors.str.split("/", n=1, expand=True) 

goodread_df['author'] = author_split[0]

goodread_df = goodread_df.drop('authors', axis=1)
goodread_df.head()

,bookID,title,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,author
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/06,Scholastic Inc.,J.K. Rowling
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,439358078,9.78E+12,eng,870,2153167,29221,9/1/04,Scholastic Inc.,J.K. Rowling
2,4,Harry Potter and the Chamber of Secrets (Harry...,4.42,439554896,9.78E+12,eng,352,6333,244,11/1/03,Scholastic,J.K. Rowling
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,4.56,043965548X,9.78E+12,eng,435,2339585,36325,5/1/04,Scholastic Inc.,J.K. Rowling
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/04,Scholastic,J.K. Rowling

In [66]:
#reorder goodread_df columns
goodread_df = goodread_df[col_names]
goodread_df.head()

,bookID,title,author,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/06,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,439358078,9.78E+12,eng,870,2153167,29221,9/1/04,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11/1/03,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.56,043965548X,9.78E+12,eng,435,2339585,36325,5/1/04,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/04,Scholastic

In [67]:
#check authors
authors_sum = goodread_df.author.value_counts()
print(authors_sum)

William Shakespeare     88
Stephen King            82
J.R.R. Tolkien          51
P.G. Wodehouse          46
Agatha Christie         45
                        ..
Yvonne Tasker            1
Laura Dave               1
William Allan            1
Rebecca Hagan Lee        1
Lawrence M. Friedman     1
Name: author, Length: 4219, dtype: int64

In [ ]:
#add columns for
#series
#genre category (fiction/non-fiction)
#genre (memoir, play, science fiction, etc.)
#?

In [ ]:
#df that only has eng

In [ ]:
#re-sort by number of ratings, check head and tail
#re-sort by number of reviews, check head and tail
#re-sort by ratings, check head and tail

#number counts for:
#authors
#average_ratings
#publisher
#text_reviews_counts
#ratings_count